<h1 class="display-6" id="indtitle">Index Page</h1>
<div class="w-50 h-50 ">
    <i class="bi bi-wifi text-info"></i>
 
</div>
@section Scripts{
    <script>
        $("#indtitle").text("New title");
    </script>
}